<ion-view title="Etec Doutora Ruth Cardoso" id="page5" style="background-color:#BEB270;">
    <ion-content padding="true" class="has-header">
        <h5 id="etecDoutoraRuthCardoso-heading1" style="color:#000000;">MISSÃO DA ETEC “DOUTORA RUTH CARDOSO"</h5>
        <div id="etecDoutoraRuthCardoso-markdown1" style="color:#130101;">
            <p>Oferecer a Educação Básica e Educação Profissional aos jovens e adultos do município de São Vicente e região para que sejam felizes, produtivos, capazes de melhorar sua própria vida e de todos os espaços em que convivem.</p>
        </div>
        <h5 id="etecDoutoraRuthCardoso-heading3" style="color:#000000;">“VISÃO DA ETEC “DOUTORA RUTH CARDOSO”</h5>
        <div id="etecDoutoraRuthCardoso-markdown4" style="color:#000000;">
            <p>Ser uma Etec reconhecida na região pelos padrões de qualidade no oferecimento da Educação Básica (Ensino Médio) e Educação Profissional, articulada com o mercado de trabalho para diminuir a distância entre a escola e a empregabilidade.</p>
        </div>
        <h5 id="etecDoutoraRuthCardoso-heading4" style="color:#000000;">“VALORES DA ETEC “DOUTORA RUTH CARDOSO”</h5>
        <div id="etecDoutoraRuthCardoso-markdown5" style="color:#000000;">
            <p>UNIÃO</p>

            <p>COOPERAÇÃO</p>

            <p>ENVOLVIMENTO</p>

            <p>PERTENCIMENTO</p>

            <p>TOLERÂNCIA</p>

            <p>SOLIDARIEDADE</p>

            <p>DIZER A VERDADE</p>

            <p>ACEITAÇÃO DO OUTRO</p>
        </div>
    </ion-content>
</ion-view>